.chat-container{
    /* width: auto; */
    max-height: 85vh;
    /* margin: 2% 10%; */
    background-color: rgba(250, 250, 250, 0.849);
    display: flex;
    justify-content: stretch;
    padding: 0% 8%;
}