.chat-view {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chat-view-head {
    background-color: rgb(234, 251, 255);
    padding: 2% 5%;
    /* text-align: center; */
    display: flex;
    align-items: center;
    font-weight: 600;
    display: flex;
}
.chat-view-head > p {
    margin: 0 2%;
    padding: 0;
}
.chat-content-comtainer {
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    padding: 5%;
    -webkit-appearance: none;
}
.chat-content-comtainer > div:nth-child(3) {
    margin-left: auto;
    
}
.chat-view-foot {
    padding: 3% 5% 0% 5%;
    display: flex;
}

.chat-content-comtainer::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0.5em;
}
.chat-content-comtainer::-webkit-scrollbar-track {
    background-color: rgb(250, 248, 248);
}
.chat-content-comtainer::-webkit-scrollbar-thumb {
    background-color: rgb(216, 216, 216);
    height: 2em;
}